/* [alt$='><'] */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none !important;
}

/* to align equation href */
:target:before {
    content:"";
    display:block;
    height:110px; /* fixed header height*/
    margin:-110px 0 0; /* negative fixed header height */
}

#blog-button {
 color: var(--orange) !important;
 border: none;
 background-color: transparent;
 padding: 0;
 margin: 0 0 10px 0;
}

#blog-button:hover {
    color: var(--mui-palette-text-secondary) !important;
}

.react-markdown h1, .react-markdown h2, .react-markdown h3,
.react-markdown h4, .react-markdown h5, .react-markdown h6 {
    text-align: left;
}

.react-markdown {
    padding-bottom: 10px;
}

html, body {
    overflow-x: hidden;
}
body {
    position: relative;
    margin-bottom: 0px;
}


/* Only apply CSS when screen > sm */
@media only screen and (max-width: 992px) {
    .inline-image {
      width: 100%;
      max-width: unset !important;
    }
}

.blog-page {
    text-align: justify;
}
.math-display {
    overflow-x: scroll;
}