.blogs-cardimg {
  padding: 10px;
  width: 100%; 
  height: 150px; 
  object-fit: cover; 
}

.blogs-card-link:hover {
  text-decoration: none !important;
}

.card-title, .card-title:visited {
  color: var(--mui-palette-text-primary);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover .card-title {
    color: var(--mui-palette-info-dark);
  }
}

.card:active .card-title {
  color: var(--mui-palette-info-dark);
}