.footer-bg {
  box-shadow: 0 1px 6px var(--mui-palette-grey-500);
  padding-top: 1.2rem;
}

#top-arrow {
  color: var(--black);
}

#top-arrow:hover {
  color: var(--mui-palette-info-dark);
  cursor: pointer;
}
