.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 3px var(--mui-palette-grey-500);
    background-color: var(--mui-palette-background-default);
}

.navbar-toggler {
    color: transparent;
    border: none;
}

.collapsed-navbar-toggler-icon .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='rgba(0, 0, 0, 0.6)' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
}

.dark-navbar-toggler-icon .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dark-collapsed-navbar-toggler-icon .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='rgba(255, 255, 255, 0.7)' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
}

.navbar-icon {
    margin-bottom: 3px;
}

.navbar-nav .nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.mobile-hr {
    background: linear-gradient(to right, var(--mui-palette-text-secondary), var(--mui-palette-background-default) 65%);
    opacity: 1.0;
    height: 2px;
    border: 0;
    margin-top: 9px
}

.mobile-navbar-icon {
    line-height: 0px;
}

.mobile-navbar-text, .mobile-navbar-icon {
    display: none;
}

@media (max-width: 767px) {
    .mobile-navbar-text{
        padding-left: 16px;
        display: inline-block;
    }
    .mobile-navbar-icon{
        padding-right: 16px;
        display: inline-block;
    }
}

.navbar-brand {
  font-weight: 500;
  /* Create a conic gradient. */
  background: conic-gradient(
    var(--mui-conic-0) 16.666%,
    var(--mui-conic-1) 16.666%,
    var(--mui-conic-2) 33.333%,
    var(--mui-conic-3) 33.333%,
    var(--mui-conic-4) 50%,
    var(--mui-conic-5) 50%,
    var(--mui-conic-6) 66.666%,
    var(--mui-conic-7) 66.666%,
    var(--mui-conic-8) 83.333%,
    var(--mui-conic-9) 83.333%
  );

  /* Set thee background size and repeat properties. */
  background-size: 50%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
