.sticky-parent {
    overflow: unset;
    position: unset;
  }

.sticky-category {
  top: 4rem;
  z-index: 2;
  margin-bottom: 2rem;
  position: sticky;
}

.line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--white);
  z-index: 1;
}

.word {
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  font: 24px arial, sans-serif;
  background: white;
  text-align: center;
}

.icon {
  color: var(--black);
}

.icon:hover {
  color: var(--blue);
}

.card:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 8px rgba(0, 0, 0, 0.03),
    0 4px 16px rgba(0, 0, 0, 0.04);
}

.card-header {
  background-color: var(--white);
}

.card-header-text {
  color: var(--black);
  border: transparent;
}

.card-header-text:hover {
  color: var(--blue);
}

/* Only apply CSS when screen > sm */
@media only screen and (min-width: 992px) {
  .word {
    padding-top: 10px;
    padding-bottom: 1px;
  }
  #BigData .line {
    margin-bottom: 3rem;
    background: linear-gradient(var(--white) 75%, white);
  }
}

.card-text {
  text-align: justify;
  text-justify: inter-word;
}

.btn.focus,
.btn:focus {
  outline: 5px;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}
