.sticky-parent {
  position: relative;
}

.sticky-category {
  position: sticky;
  top: 4rem;
  z-index: 2;
  margin-bottom: 2rem;
}

.line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--mui-palette-text-disabled);
  z-index: 1;
}

.word {
  color: var(--mui-palette-info-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
  font: 24px arial, sans-serif;
  background: var(--mui-palette-background-default);
  text-align: center;
}

.icon {
  color: var(--mui-palette-text-disabled) !important;
}

.icon:hover {
  color: var(--mui-palette-info-dark) !important;
}

.card {
  background-color: var(--mui-palette-background-default);
  border-color: var(--mui-palette-grey-200);
  border-color: var(--mui-palette-grey-200);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    -webkit-box-shadow: var(--mui-card-shadow);
    box-shadow: var(--mui-card-shadow);
  }
}
.card:active {
  -webkit-box-shadow: var(--mui-card-shadow);
  box-shadow: var(--mui-card-shadow);
}

.card-header {
  background-color: var(--mui-palette-divider);
}

.card-header-text, .card-header-text:visited {
  color: var(--mui-palette-text-primary) !important;
  border: transparent;
  margin-bottom: -.5rem;
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .card-header-text:hover {
    color: var(--mui-palette-info-dark) !important;
  }
}

.card-header-text:active {
  color: var(--mui-palette-info-dark) !important;
}

.card-text {
  color: var(--mui-palette-text-primary);
  text-align: justify;
  text-justify: inter-word;
}

/* Only apply CSS when screen > sm */
@media only screen and (min-width: 992px) {
  .word {
    padding-top: 10px;
    padding-bottom: 1px;
  }
  #BigData .line {
    margin-bottom: 3rem;
    background: linear-gradient(var(--mui-palette-text-disabled) 15%, var(--mui-palette-background-default));
  }
}