#navTabs .nav-link {
  color: var(--black);
}

#navTabs .nav-link:hover {
  color: var(--blue);
  text-decoration: none;
}

#navTabs .active {
  color: var(--blue);
}

#navTabs {
  font-weight: bold;
}

@media (min-width: 1400px) {
.container, .container-lg, .container-md, 
.container-sm, .container-xl, .container-xxl {
    max-width: 1140px !important;
}
}