/**
* Shows how you can use CSS to style your Element's container.
* These classes are added to your Stripe Element by default.
* You can override these classNames by using the options passed
* to the CardElement component.
* https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes
*/

.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 4px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 5px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#payment-button {
  border-radius: 0 0 4px 4px;
  background: var(--info);
  border-color: var(--info);
  font-weight: 800;
  letter-spacing: 1.5px;
  width: 100%;
}

#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  width: 100%;
}

#email {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 6px;
  padding-left: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  font-size: 16px;
  width: 100%;
}

#email::placeholder {
  color: #aab7c4;
}

#email:focus {
  outline: none !important;
  box-shadow: 0 1px 5px 0 #cfd7df;
}

#payment-alert {
  margin-top: 6px;
}
